# Force Dart recognition
*.dart linguist-language=Dart

# Ignore Flutter platform folders (boilerplate code)
ios/* linguist-vendored
android/* linguist-vendored
windows/* linguist-vendored
linux/* linguist-vendored
macos/* linguist-vendored

# Ignore build artifacts
build/* linguist-vendored

# Ignore generated Dart files
*.g.dart linguist-generated
*.freezed.dart linguist-generated